/* navbar */
.io-lungwort .site-header.has-fixed .navbar {
  background: #020207;
  border-bottom-color: rgba(0, 0, 0, 0.04);
}

/* navbar */

/* footer */
.footer-logo {
  width: 400px;
}

.footer-lungwort {
  background-color: #0b0c22;
}

/* footer */

/* tab */
.tab-nav {
  border: none;
}

/* tab */

/* Video Playback BG */
.video-mask {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Video Playback BG */

.text-blue {
  color: #259bdd !important;
}

.working-image-wrapper img {
  height: 150px;
}

@media (max-width: 991px) {
  .working-image-wrapper img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .working-image-wrapper img {
    height: 80px;
    width: auto;
  }
}

.tab-nav .nav-item .nav-link {
  background: transparent;
  color: white;
  font-weight: 500;
  border: none;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
}

.tab-nav .nav-item .active {
  border-color: #1a8fd8;
}

.tab-ul li {
  list-style: lower-alpha;
}

/* tab */

.bullet-point {
  background: #ffffff;
  opacity: 1;
  width: 8px;
  height: 8px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
}

.bullet-point .bp-blur {
  position: absolute;
  width: 8px;
  height: 8px;
  background: white;
  filter: blur(5px);
}

.bullet-point-card {
  background: blue;
  opacity: 1;
  width: 6px;
  height: 6px;
  display: inline-block;
  position: relative;
  border-radius: 0%;
}

.bullet-point-card .bp-blur-card {
  position: absolute;
  width: 6px;
  height: 6px;
  background: blue;
  filter: blur(5px);
}

.banner-lungwort {
  background: #08091b;
}

.io-lungwort .section-bg-dark {
  background-color: #0b0c22;
}

.io-lungwort .section-bg {
  background: #08091b;
}

.io-lungwort .section-bg-alt {
  background-color: #0b0c22;
}

.io-lungwort .subscribe-section-s2::before {
  background-color: #0b0c22;
}

.io-lungwort .loader-section {
  background: #10122d;
}

.subscribe-success {
  display: none;
}

.subscribe-failed {
  display: none;
}

.team-profile-info > .dark {
  color: darkblue;
}
