.intro-video {
    position: relative;
}

.intro-video img {
    border: 20px solid white;
    border-radius: 0;
    transform: skew(-5deg, 2deg);
}

.intro-video .intro-btn {
    position: absolute;
    z-index: 2;
    outline: none;
    border-radius: 50%;
    background: transparent linear-gradient(141deg, #5EDBF6 0%, #1A8FD8 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #00000029;
    width: 100px;
    height: 100px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.hero-video-popup .modal-content {
    background: transparent;
    border: none;
}

.hero-video-popup .modal-dialog {
    max-width: 85vw;
    margin: auto;
}