@-webkit-keyframes colorchange {
  100% {
    color: black;
  }
  50% {
    color: rgb(87, 21, 149);
  }
  0% {
    color: rgb(200, 5, 5);
  }
}

.modal-header {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 1px;
  color: red !important;
  text-align: center !important;
  border-bottom: none;
  padding: 0;
  margin-bottom: 1%;
}
.modal-sub-header {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  color: #060612 !important;
  text-align: center !important;
  border-bottom: none;
  margin-bottom: 1%;
}

.modal-title {
  font-size: 30px;
   font-weight: 600;

  letter-spacing: 1px;
  color: #185e7a !important;
  /* color: #0c9c0c !important; */
  /* color: #060612 !important; */

  text-align: center !important;
}

.modal-question {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 400;
  color: #060612 !important;
  text-align: center;
}

.modal-preregister {
  font-size: 24px;
  color: #060612 !important;

  /* color: #330233 !important; */
  /* color:#105a77 !important; */

  font-weight: 500;
  line-height: 24px;
}

.modal-note {
  font-size: 18px;
  color: rgb(121, 15, 15) !important;
  font-weight: 500;
}

.pre-register-text {
  background-color: #d8d6d6 !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
  margin-bottom: 20px;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  font-weight: 400;
  color: black !important;
}

.welcome-message {
  font-size: 30px;
  /* color: black !important; */
  color: #185e7a !important;
  /* color: #0c9c0c !important; */

  font-weight: 600;
}
@media (max-width: 576px) {
  .modal-header {
    font-size: 16px;
    line-height: 22px;
  }
  .modal-sub-header {
    font-size: 11px;
    line-height: 15px;
  }
  .modal-title {
    font-size: 16px;
  }
  .modal-question {
    font-size: 12px;
    line-height: 13px;
  }
  .modal-preregister {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .modal-note {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 10px;
  }
  .pre-register-text {
    text-align: center;
    position: relative;
    font-size: 13px;
    line-height: 28px;
    padding: 4px 4px 0px 4px;
    font-weight: 400;
    color: black !important;
    z-index: 0;
  }
  .welcome-message {
    font-size: 18px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .modal-header {
    font-size: 18px;
    line-height: 25px;
  }
  .modal-sub-header {
    font-size: 12px;
    line-height: 16px;
  }
  .modal-title {
    font-size: 18px;
  }
  .modal-question {
    font-size: 14px;
    line-height: 18px;
  }
  .modal-preregister {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
  }

  .modal-note {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 10px;
  }
  .pre-register-text {
    text-align: center;
    position: relative;
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
    color: black !important;
    z-index: 0;
  }
  .welcome-message {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .modal-header {
    font-size: 18px;
    line-height: 24px;
  }
  .modal-sub-header {
    font-size: 12px;
    line-height: 16px;
  }
  .modal-title {
    font-size: 18px;
  }
  .modal-question {
    font-size: 14px;
    line-height: 18px;
  }
  .modal-note {
    font-size: 12px;
    color: yellow !important;
    font-weight: 400;
    line-height: 16px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .modal-header {
    font-size: 18px;
    line-height: 24px;
  }
  .modal-sub-header {
    font-size: 12px;
    line-height: 16px;
  }
  .modal-title {
    font-size: 18px;
  }
  .modal-question {
    font-size: 14px;
    line-height: 18px;
  }
  .modal-preregister {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .modal-header {
    font-size: 28px;
    line-height: 36px;
  }

  .modal-title {
    font-size: 28px;
  }
  .modal-question {
  }
}
