.pricing-container {
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.pricing-container .left-col {
    border-right: 2px solid #dddddd;
    display: block;
    border-bottom: 0;
}

.pricing-container .left-tab {
    display: block;
    background: transparent linear-gradient(155deg, #363F4B 0%, #1A1F26 100%);
    width: 250px;
    margin: 10px 50px 10px 10px;
    padding: 30px 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}

.pricing-container .left-tab:hover {
    border-color: #dddddd;
}

.pricing-container .left-col .active,
.pricing-container .left-col .active:hover {
    border-color: #259BDD;
    color: white;
}

.pricing-container .left-col .active::after {
    content: "";
    position: absolute;
    right: -35px;
    border-top: 10px solid transparent;
    border-left: 20px solid #259BDD;
    border-bottom: 10px solid transparent;
}

.pricing-container .col-detail {
    margin-left: 50px;
}

.pricing-container .col-detail .pricingTable {
    min-width: 250px;
}

.pricing-container .tab-pane {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 991px) {
    .pricing-container {
        display: block;
    }
}

.price-title {
    width: 100%;
    background: transparent;
    color: white;
    outline: none !important;
    border: none;
    border-bottom: 1px solid;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 1px;
    justify-content: space-between;
    padding: 10px 5px;
    font-weight: 700;
    margin-bottom: 10px;
}















.pricingTable {
    padding: 15px;
    border-radius: 5px;
    height: 100%;
    transition: all .2s ease-in-out;
    background: transparent linear-gradient(155deg, #363F4B 0%, #1A1F26 100%);
    width: 100%;
}

.pricing-row {
    justify-content: space-evenly;
}

.pricing-wrapper {
    margin: 5px auto;
    max-width: 300px;
}

.pricing-wrapper:hover {
    z-index: 5;
    position: relative;
}

/* .pricing-wrapper:hover .pricingTable {
    transform: scale(1.035);
    z-index: 5;
} */

/* .p-section {
    font-size: 0.8em;
} */

.p-features {
    min-height: 150px;
}

.p-section .border-top {
    border-top: 2px solid #707070;
    margin-top: 10px;
    padding-top: 10px;
}

.p-section .heading {
    font-size: 1rem;
    color: #259BDD;
}

.pricingTable-header .heading {
    text-align: center;
    color: #FFA400;
}

.pricingTable-header .main-price {
    /* text-align: center; */
    color: #F3F3F3;
    padding-bottom: 15px;
}

.pricingTable-header .main-price .price {
    font-weight: 700;
    font-size: 1.3em;
}

.mobile-only {
    display: none;
}

@media (max-width: 991px) {
    .pc-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}


.table-2 {
    text-align: left;
    border: 2px solid transparent;
}

.table-2 .pricingTable-header {
    /* display: flex; */
    align-items: baseline;
    /* border-bottom: 1px solid #ffffff; */
    /* margin-bottom: 20px; */
}

.table-2 .pricingTable-header .heading {
    text-align: left;
    /* margin-bottom: 5px;
    font-size: 1.3rem; */
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 25px;
}

.table-2 .pricingTable-header .main-price {
    /* margin-left: 15px; */
    text-align: left;
    padding-bottom: 5px;
}

.table-2 .pricing-details {
    display: flex;
    justify-content: space-between;
}

.table-2 .pricing-details .p-section {
    width: 33%;
    padding-left: 15px;
    border-right: 1px solid;
}

.table-2 .pricing-details .p-section:last-child {
    border-right: 0;
}

.shine-border {
    position: relative;
}

.shine-border::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to right, red, orange);
}