.pricingTable {
    border: 1px solid #5d4e65;
    height: 100%;
    position: relative;
    text-align: center;
    transition: all .2s ease-in-out;
    margin: 0 -16px;
    background: #0b0c22;
    padding-bottom: 80px;
    border-radius: 5px;
}

/* .pricing-row {
justify-content: space-evenly;
} */

.pricing-wrapper:hover {
    z-index: 5;
    position: relative;
}

.pricing-wrapper:hover .pricingTable {
    transform: scale(1.035);
    z-index: 5;
    border-color: #3e2bc5;
}

/* ***************** Header [start] ***************** */
.pricingTable .pricingTable-header {
    padding: 15px 0;
    border-radius: 5px 5px 50% 50%;
    margin-bottom: 15px;
    background: #101127;
    transition: all .5s ease 0s;
}

.pricing-wrapper:hover .pricingTable-header {
    background: #3e2bc5;
}

.pricingTable .pricingTable-header .price-value {
    line-height: 1;
}

.pricingTable .pricingTable-header .fa {
    font-size: 16px;
    display: none;
}

.pricingTable .pricingTable-header .price-value .price {
    font-size: 42px;
}

.pricingTable .pricingTable-header .price-value .currency {
    font-size: 22px;
}

.pricingTable .pricingTable-header .price-value .month {
    display: block;
    font-size: 14px;
    padding: 0px;
    margin: 10px;
    color: #a2b4d2;
}

.pricingTable .offer .offer-name {
    font-size: 30px;
}

.pricingTable .offer .offer-s {
    font-size: 26px;
    margin: 10px auto;
    display: block;
}

/* ***************** Header [end] ***************** */


/* ***************** Heading [start] ***************** */
.pricingTable .heading {
    letter-spacing: 2px;
    margin: 40px auto;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    transition: all .5s ease 0s;
    text-transform: uppercase;
}

.pricing-wrapper:hover .heading {
    color: #3e2bc5;
}
/* ***************** Heading [end] ***************** */


/* ***************** Heading [start] ***************** */
.pricingTable .pricingTable-btn {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
}

.pricingTable .pricingTable-btn a {
    position: relative;
    width: max-content;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ***************** Heading [end] ***************** */